<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель управления</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div id="app">
        <div class="left-menu">
            <ul>
                <h1>{{ settings.settings[0].marketName }}</h1>
                <li @click="page = 'main'">Главная</li>
                <li @click="page = 'allItems'">Все товары</li>
                <li @click="page = 'shifts'">Смены</li>
                <li>Все продажи</li>
                <li>Список покупателей</li>
                <li v-if="user.admin === 2">Настройки</li>
            </ul>
        </div>
        <div class="right-menu">
            <div class="main-menu" v-if="page === 'main'">
                <div class="shift">
                    <h1>Текущая смена:</h1>
                    <p>{{ checkShift() }}</p>
                    <button>{{ shiftInfo ? "Закрыть" : "Открыть" }}</button>
                </div>
                <div class="sells">
                    <h1>Продаж сегодня</h1>
                    <p>{{ shiftInfo.sales }}</p>
                </div>
                <div class="profit">
                    <h1>Прибыль за сегодня</h1>
                    <p>{{ shiftInfo.generalReceipt }} ₽</p>
                </div>
                <div class="worker">
                    <h1>Сотрудник</h1>
                    <p>{{ settings.accounts.find(i => i.id === shiftInfo.employee).name }}</p>
                </div>
            </div>
            <div class="all_items" v-if="page === 'allItems'">
                <input v-if="!isEditing" type="text" v-model="search.allItems" placeholder="Поиск">
                <div v-if="!isEditing">
                    <table>
                        <tr>
                            <td>Наименование</td>
                            <td>Цена</td>
                            <td></td>
                        </tr>
                        <tr v-for="(item, index) in settings['items']" :key="item.id"
                            v-if="item.name.toLowerCase().includes(search.allItems.toLowerCase())">
                            <td>{{ item.name }}</td>
                            <td>{{ formatPrice(item.price) }} ₽</td>
                            <td><img src="./assets/edit.svg" alt="Edit" @click="editItem(item)"></td>
                        </tr>
                    </table>
                </div>
                <div v-if="isEditing" class="edit-form">
                    <h3>Редактирование товара</h3>
                    <label>Наименование:</label>
                    <input type="text" v-model="editingItem.name">
                    <label>Цена:</label>
                    <input type="number" v-model="editingItem.price">
                    <button @click="saveItem">Сохранить</button>
                    <button @click="cancelEdit">Отменить</button>
                </div>
            </div>
            <div class="shifts" v-if="page === 'shifts'">
                <input v-if="!isEditing" type="text" v-model="search.allItems" placeholder="Поиск">
                <div>
                    <table>
                        <tr>
                            <td>Наименование</td>
                            <td>Цена</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ formatPrice(item.price) }}₽</td>
                            <td><img src="./assets/edit.svg" alt="Edit"></td>
                        </tr>
                    </table>
                </div>
                <!-- <div v-if="isEditing" class="edit-form">
                    <h3>Редактирование товара</h3>
                    <label>Наименование:</label>
                    <input type="text" v-model="editingItem.name">
                    <label>Цена:</label>
                    <input type="number" v-model="editingItem.price">
                    <button @click="saveItem">Сохранить</button>
                    <button @click="cancelEdit">Отменить</button>
                </div> -->
            </div>
        </div>

        <script src="./js/main.js"></script>
</body>

</html>