<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель управления</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/JsBarcode.all.min.js"></script>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div id="app">
        <div class="left-menu">
            <ul>
                <h1>{{ settings.settings[0].marketName }}</h1>
                <h3> {{ settings.accounts.find(i => i.id === shiftInfo.employee)?.name || 'Не найдено' }} </h3>
                <li @click="page = 'main'">Главная</li>
                <li @click="page = 'allItems', focus('searchAllItems')">Все товары</li>
                <li @click="page = 'shifts'">Смены</li>
                <li @click="page = 'receipts'">Чеки</li>
                <li @click="page = 'buyers'">Список покупателей</li>
                <li v-if="user.admin === 2">Настройки</li>
            </ul>
        </div>
        <div class="right-menu">
            <div class="main-menu" v-if="page === 'main'">
                <div class="shift">
                    <h1>Текущая смена:</h1>
                    <p>{{ checkShift() }}</p>
                    <button>{{ shiftInfo ? "Закрыть" : "Открыть" }}</button>
                </div>
                <div class="sells">
                    <h1>Продаж сегодня</h1>
                    <p>{{ shiftInfo.sales }}</p>
                </div>
                <div class="profit">
                    <h1>Прибыль за сегодня</h1>
                    <p>{{ shiftInfo.generalReceipt }} ₽</p>
                </div>
                <div class="worker">
                    <h1>Сотрудник</h1>
                    <p>{{ settings.accounts.find(i => i.id === shiftInfo.employee).name }}</p>
                </div>
                <div class="registration">
                    <h1>Регистрация продаж</h1>
                    <input v-model="scannedText" ref="scannerInput" type="number"
                        @input="searchByBarcodeAndInsert(scannedText)">
                    <p><font color="#ff0000">{{ errorMsg }}</font></p>
                    <table>
                        <tr>
                            <td>Наименование</td>
                            <td>Цена</td>
                            <td>Количество</td>
                        </tr>
                        <tr v-for="(item, index) in receipt" :key="item.id">
                            <td>{{ item.name }}</td>
                            <td>{{ item.price }} ₽</td>
                            <td>{{ item.count }}</td>
                            <td><button @click="deleteFromReceipt(item.id)">Удалить</button></td>
                            </td>
                        </tr>
                    </table>
                    <input type="text" placeholder="Карта клиента" v-model="discountCardInput" @input="searchDiscount">
                    <h3>Итого: {{ formatPrice(receiptTotal()) }} </h3>
                    <h3>Скидка: {{ discount }} </h3>
                    <h3>К оплате: {{ (receiptTotal() - discount / receiptTotal() * 100) }} </h3>
                    <button @click="">Наличные</button>
                    <button>Карта</button>
                    <button @click="receiptCancel">Галя у нас отмена</button>
                </div>
            </div>
            <div class="table" v-if="page === 'allItems'">
                <input v-if="!isEditing" type="text" v-model="search.allItems" placeholder="Поиск" id="searchAllItems">
                <div v-if="!isEditing">
                    <table>
                        <tr>
                            <td>Наименование</td>
                            <td>Цена</td>
                            <td>Количество</td>
                            <td>Штрихкод</td>
                            <td v-if="user.admin === 2"></td>
                        </tr>
                        <tr v-for="(item, index) in settings['items']" :key="item.id"
                            v-if="!isNaN(search.allItems) && search.allItems != 13 && search.allItems ? item.barcode.toLowerCase().includes(search.allItems.toLowerCase()) : item.name.toLowerCase().includes(search.allItems.toLowerCase())">
                            <td>{{ item.name }}</td>
                            <td>{{ formatPrice(item.price) }} ₽</td>
                            <td>{{ item.count }}</td>
                            <td>
                                <svg :id="'barcode' + item.id"></svg>
                            </td>
                            <td><img v-if="user.admin === 2" src="./assets/edit.svg" alt="Edit"
                                    @click="editItem(item)"><button @click="addItemToReceiptFromId(item.id)">Добавить в
                                    чек</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div v-if="isEditing" class="edit-form">
                    <h3>Редактирование товара</h3>
                    <label>Наименование:</label>
                    <input type="text" v-model="editingItem.name">
                    <label>Цена:</label>
                    <input type="number" v-model="editingItem.price">
                    <button @click="saveItem">Сохранить</button>
                    <button @click="cancelEdit">Отменить</button>
                </div>
            </div>
            <div class="table" v-if="page === 'shifts'">
                <div>
                    <table>
                        <tr>
                            <td>Открытие смены</td>
                            <td>Закрытие смены</td>
                            <td>Сотрудник</td>
                            <td>Продажи</td>
                            <td>Общая прибыль</td>
                        </tr>
                        <tr v-for="(item, index) in settings['shifts']" :key="item.id">
                            <td>{{ item.dateOpen }}</td>
                            <td>{{ item.dateClose }}</td>
                            <td>{{ item.employee }}</td>
                            <td>{{ item.sales }}</td>
                            <td>{{ formatPrice(item.generalReceipt) }} ₽</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="table" v-if="page === 'receipts'">
                <!-- <input v-if="!isEditing" type="text" v-model="search.allItems" placeholder="Поиск"> -->
                <div>
                    <table>
                        <tr>
                            <td>Чек</td>
                            <td>Смена</td>
                            <td>Дата</td>
                            <td>Сумма чека</td>
                            <td>Сотрудник</td>
                            <td>Товары в чеке</td>
                            <td>Покупатель</td>
                            <td>Скидка</td>
                            <td>К оплате</td>
                            <td>Способ оплаты</td>
                        </tr>
                        <tr v-for="(item, index) in settings['receipts']" :key="item.id">
                            <td>{{ item.id }}</td>
                            <td>{{ item.shifId }}</td>
                            <td>{{ item.date }}</td>
                            <td>{{ item.total }}</td>
                            <td>{{ item.employee }}</td>
                            <td><button @click="dialogWindow('itemsOnReceipts', item.items)">Посмотреть</button></td>
                            <td>{{ item.buyerId }}</td>
                            <td>{{ item.discount }}</td>
                            <td>{{ item.toPaid }}</td>
                            <td>{{ item.payment }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="dialog" v-if="dialog.page">
                <div class="dialog_wrapper">
                    <div class="dialog_block">
                        <button @click="dialog.page = ''">Закрыть</button>
                        <div class="table" id="table_dialog" v-if="page === 'receipts'">
                            <div>
                                <table>
                                    <tr v-for="id in dialog.info" :key="id">
                                        <template v-if="getItem(id)">
                                            <td>{{ getItem(id).name }}</td>
                                            <td>{{ getItem(id).price }}</td>
                                            <td>
                                                <svg :id="'barcode' + getItem(id).id"></svg>
                                            </td>
                                        </template>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table" v-if="page === 'buyers'">

                <div v-if="!isEditing">
                    <table>
                        <tr>
                            <td>Клиент</td>
                            <td>Кол-во покупок</td>
                            <td>ФИО</td>
                            <td>Номер телефона</td>
                            <td>Бонусов</td>
                            <td>Штрихкод карты</td>
                            <td v-if="user.admin === 2"></td>
                        </tr>
                        <tr v-for="(item, index) in settings['buyers']" :key="item.id"
                            v-if="search.buyersNumber === '' ? item.name.toLowerCase().includes(search.buyersName.toLowerCase()) : item.name.toLowerCase().includes(search.buyersNumber.toLowerCase())">
                            <td>{{ item.id }}</td>
                            <td>{{ item.buys }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.numberPhone }}</td>
                            <td>{{ item.bonuses }}</td>
                            <td>
                                <svg :id="'discount' + item.id"></svg>
                            </td>
                            <td v-if="user.admin === 2"><img src="./assets/edit.svg" alt="Edit" @click="editItem(item)">
                            </td>
                        </tr>
                    </table>
                </div>
                <div v-if="isEditing" class="edit-form">
                    <h3>Редактирование товара</h3>
                    <label>ФИО:</label>
                    <input type="text" v-model="editingItem.name">
                    <label>Номер телефона:</label>
                    <input type="text" v-model="editingItem.numberPhone">
                    <label>Штрихкод карты:</label>
                    <input type="text" v-model="editingItem.barcode">
                    <svg :id="'discount' + editingItem.id"></svg>
                    <button @click="saveItem('buyers')">Сохранить</button>
                    <button @click="cancelEdit">Отменить</button>
                </div>
            </div>
        </div>
        <script src="./js/main.js"></script>
</body>

</html>